html{
    height: 100%;
}
body{
    position: relative;
    height: 100%;
}
.shadeDowWrap{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 10;
}
.shadeDow{
    width: 100%;
    height: 100%;
}
.preloader-wrapper.big{
    width: 200px;
    height: 200px;
}
/*找回密码*/
.retrieve_password{
    margin-top: 10px;
    color: grey;
}
.retrieve_password:hover{
    color: #26c6da !important;
}
.has-error input{
    border-bottom: 1px solid red;
}