<!DOCTYPE html>
<html lang="zh-cn" ng-app="admin_login_dev">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sms-project</title>
    <link rel="stylesheet" href="/assets/plugins/materialize/css/materialize.css">
    <link rel="stylesheet" href="/assets/plugins/alert/sweetalert.css">
    <link rel="stylesheet" href="/assets/plugins/material_icon/css/materialdesignicons.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="cyan lighten-1 loaded" ng-controller="admin_login_controller">
<div>
    <div>
        <div class="container">
            <div class="col s12 m6 l4" style="margin-top: 80px;">
                <form class="col s6 m4 l3 z-depth-4 card-panel">
                    <div class="row">
                        <div class="input-field col s12 center" style="margin-top: 28px">
                            <div class="col s12">
                                <img style="width: 128px;height:128px;" src="/assets/images/login-logo-1.png" alt="" class="circle responsive-img valign profile-image-login">
                            </div>
                        </div>
                        <div class="input-field col s12 center">
                            <p style="margin-top: 10px" class="center cyan-text text-lighten-1 login-form-text">管理员平台</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12" style="margin-top: -4px">
                            <i class="mdi mdi-account-card-details prefix"></i>
                            <input id="mobile" ng-model="mobile" autocomplete="off"   type="text" class="validate">
                            <label for="mobile" class="active" >手机号</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="mdi mdi-lock prefix"></i>
                            <input id="password" ng-model="password" autocomplete="off"    type="password">
                            <label for="password" class="active" >密码</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light col s12 cyan lighten-1" ng-click="login()">登录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="shadeDowWrap" >
    <div class="shadeDow vc-center">
        <div class="preloader-wrapper big active ">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/assets/plugins/jquery.min.js"></script>
<script src="/assets/plugins/materialize/js/materialize.js"></script>
<script src="/assets/plugins/alert/sweetalert.min.js"></script>
<script src="/assets/plugins/angular/angular.min.js"></script>


<script src="/js/module/admin_login_module.js"></script>
<script src="/assets/plugins/angular/angular-materialize.js"></script>
<script src="/assets/plugins/angular/angular-cookies.min.js"></script>
<script src="/js/service/config_service.js"></script>
<script src="/js/service/http_service.js"></script>
<script src="/js/host/host_config.js"></script>

<script src="/js/controller/admin_login_controller.js"></script>
</html>
