<div>
    <div class="row">
        <div class="col s12 m6">
            <div id="chart_div" class="card-panel cyan lighten-2">
                <span class="white-text">
                    <span style="font-size: 24px">用户数 : </span><span style="font-size: 37px;padding-right: 20px;">{{userArray.length}}</span>
                    <span style="font-size: 24px">导入次数 : </span><span style="font-size: 37px;padding-right: 20px;">{{importCount}}</span>
                </span>
            </div>
        </div>

    </div>
</div>