<div>
    <div class="row">
        <div class="col s12 m6">
            <div id="chart_div" class="card-panel ">
              <!--<span class="white-text">

                  <span style="font-size: 24px">已经处理 : </span><span style="font-size: 37px;padding-right: 20px;">{{statusStatObj.processed}}</span>
                  <span style="font-size: 24px">已备注 : </span><span style="font-size: 37px;padding-right: 20px;">{{remarkStatObj.remarked}}</span>
              </span>-->
            </div>
        </div>

    </div>
</div>